.nav-link {
    color: white;
}

body {
    font-family: century-gothic, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
}

#contact-info div a img {
    width: 50px;
}

.description {
    font-size: 15px;
}