<template>
  <div class="home">
    <HomeInfo/>
  </div>
</template>

<script>

import HomeInfo from '@/components/HomeInfo.vue'

export default {
  name: 'home',
  components: {
    HomeInfo: HomeInfo
  }
}
</script>
