<template>
  <div class="research">
    <div class="row">
      <div class="col">
        <div class="tab-content" id="nav-tabContent">
          <div class="tab-pane fade show active" id="list-home" role="tabpanel" aria-labelledby="list-home-list">
            <h3>{{ pubTitle }}</h3>
            <publications/>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import Publications from '@/components/Publications.vue'

export default {
  name: 'research',
  props: ['pubTitle'],
  components: {
    Publications
  }
}
</script>
