<template>
  <div class="presentation">
    <div class="row mb-3">
      <div class="col mr-auto">
        <p>
          Grad Slam is an award-winning campus-wide competition for the best three-minute talk by a
          graduate student. Students present the central points of their project in a clear, direct, and interesting
          manner for a diverse audience comprised of students, faculty, and community members.
        </p>
      </div>
    </div>
    <div class="row mb-3">
      <div class="col mr-auto">
        <h1>2019</h1>
        <hr/>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <h4> UCSB Grad Slam Semifinals</h4>
        <p class="description">
          In this presentation, I discuss my dissertation work examining the potential positive impact virtual reality
          could have on residents of a residential care community, such as assisted living.
        </p>
      </div>
      <iframe class="col-6" height="315" src="https://www.youtube.com/embed/hpqA1lq1ZJ0" frameborder="0"
              allow="autoplay; encrypted-media" allowfullscreen>
      </iframe>
    </div>
    <div class="row mt-3">
      <div class="col mr-auto">
        <h1>2018</h1>
        <hr/>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <h4> UCSB Grad Slam Finals</h4>
        <p class="description">
          The focus of this talk is a broad overview of one potential way to study stress and resilience processes in
          human communication. I discuss what we know and how we know it through multiple research methodologies,
          including measuring physiological markers of stress.
        </p>
      </div>
      <iframe class="col-6" height="315" src="https://www.youtube.com/embed/MzRlEVRgqDc?rel=0" frameborder="0"
              allow="autoplay; encrypted-media" allowfullscreen>
      </iframe>
    </div>
    <div class="row mt-3">
      <div class="col mr-auto">
        <h1>2017</h1>
        <hr/>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <h4> UCSB Grad Slam Semifinals</h4>
        <p class="description">
          In this talk, I discuss how people who are using online dating services look for information when considering
          a potential partner. I also discuss some of the personal factors that people bring with them to the
          interaction and how this impacts their feelings about online dating in general.
        </p>
      </div>
      <iframe class="col-6" height="315" src="https://www.youtube.com/embed/bAYbiaZ9U4s?rel=0" frameborder="0"
              allow="autoplay; encrypted-media" allowfullscreen>
      </iframe>
    </div>
  </div>
</template>

<script>
  export default {
    name: 'Presentations'
  }
</script>

<style scoped>

</style>