<template>
  <div id="hello">
    <p class="text-justify">
      <br/>
      I am a gritty mixed methods researcher with expertise at the intersection of communication, technology, and
      working with diverse populations. I am eager to apply my deep, theoretical understanding of human behavior to
      human-centered research and methodologies. I have 6 years of experience and passion for revealing behavioral
      insights into complex questions via quantitative and qualitative data.
    </p>
  </div>
</template>
