<template>
  <div id="publications">
    <table class="table">
      <tbody>
      <tr class="pub-row" v-for="text in pubList">
        <td>
          {{ text }}
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</template>

<script>
export default {
  name: 'publications',
  beforeMount: function () {
    this.setText();
  },
  watch: {
    '$route.params.pubPath': function () {
      this.setText();
    }
  },
  computed: {
    pubPath: function () {
      return this.$route.params.pubPath;
    }
  },
  data() {
    return {
      pubList: null,
      journalArticles: [
        'Afifi, T. D., Granger, D., Ersig, A., Tsalikian, E., Davis, S., Shahnazi, A., Harrison, K., & Acevedo Callejas, M.  (in press). Testing the Theory of Resilience and Relational Load (TRRL) in families with type I diabetes. In Health Communication',
        'Afifi, T. D., Zamanzadeh, N., Harrison, K. E., & Acevedo Callajas, M. (2018). WIRED:  The impact of media and technology use on stress (cortisol) and inflammation (interleukin IL-6) in fast paced families. Computers in Human Behavior, 81, 265–273. doi: 10.1016/j.chb.2017.12.010',
        'Jayachandiran, S., Harrison, K. E., Afifi, T.D., & Davis, S. (2016). The United States of wealth: The communicative construction of master and counter narratives of prosperity in the aftermath of the Great Recession. Narrative Inquiry, 26, 39-63. doi: 10.1075/ni.26.1.03jay',
        'Streeck, J. & Harrison, K. (2015). Children\'s interaction in a face-to-face society: The case of a South-American plaza. Pragmatics and Society, 6(3), 305-337. doi: 10.1075/ps.6.3.01str'
      ],
      bookChapters: [
        'Afifi, T. D., Harrison, K., Zamanzadeh, N., & Brandt, K. (forthcoming). Communication, Stress, and Resilience in Close Relationships. In K. Floyd & R. Weber (Eds.), Handbook of Communication Science and Biology.',
        'Afifi, T. D., Zamanzadeh, N., Harrison, K., & Brandt, K. (forthcoming). Stress, coping, and thriving: The role of interpersonal communication. In Steve Wilson and Sandi Smith (Eds). Reflections on Interpersonal Communication. Cognella Academic Publishing.',
        'Afifi, T. D., Acevedo Callejas, M, & Harrison, K.  (in press).  Resilience through stress:  Advancing the Theory of Resilience and Relational Load.  In L. Aloia, J., Crowley, & A. Denes, The Physiology of Interpersonal Communication. Oxford University Press.',
        'Afifi, T. D. & Harrison, K.  (2018).  The Theory of Resilience and Relational Load.  In D. Braithwaite, P. Schrodt, and K. Floyd (Eds.) Engaging theories of family communication (2nd ed.).  Sage:  Thousand Oaks.',
        'Harrison, K., Zamanzadeh, N., & Afifi, T. D. (forthcoming).  The Impact of Close Relationships on Personal, Relational, and Physiological Health.  In Simon Taukeni (Ed.) Psychology of Health - Biopsychosocial Approach. InTechOpen.'
      ],
      encyclopediaChapters: [
        'Afifi, T. D., Shahnazi, A., & Harrison, K.  (2018).  Worry and rumination, message recipient psychological characteristics. In Roxanne Parrott (Ed.), Health and risk messages and processing. Oxford Press.',
        'Afifi, T. D. & Harrison, K.  (2017).  The Theory of Resilience and Relational Load. In J. Lebow, A. Chambers, and D. Breunlin (Eds.) Encyclopedia of Couple and Family Therapy, 1-5. doi: 10.1007/978-3-319-15877-8_852-1',
        'Pauley, P. M., Veluscek, A., & Harrison, K. E. (2016). Assortative mating. In A. L. Shehan & M. Duncan (Eds.), The Wiley Blackwell Encyclopedia of Family Studies (pp. 133-134). Oxford, UK: Wiley Blackwell. doi: 10.1002/9781119085621.wbefs476'
      ]
    }
  },
  methods: {
    setText: function () {
      if (this.pubPath === 'journal-articles') {
        this.pubList = this.journalArticles;
      } else if (this.pubPath === 'book-chapters') {
        this.pubList = this.bookChapters;
      } else if (this.pubPath === 'encyclopedia-chapters') {
        this.pubList = this.encyclopediaChapters;
      }
    }
  }

}
</script>

<style scoped>

</style>
