<template>
  <div id="app">
    <div class="container">
      <div class="row pt-5 pb-3">
        <div class="col mt-auto mb-auto">
          <div class="jumbotron jumbotron-fluid mb-0">
            <h1 class="display-3">
              Kathryn Harrison
            </h1>
          </div>
        </div>
        <div class="col-4 ml-auto">
          <img src="./assets/profile.jpeg" class="img-thumbnail rounded-circle">
        </div>
      </div>
    </div>
    <div id="nav" class="container-fluid mb-3">
      <div class="row">
        <div class="col-sm">
          <ul class="nav justify-content-center">
            <li class="nav-item">
              <router-link to="/" class="nav-link">
                <p class="h5">Home</p>
              </router-link>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle h5" data-toggle="dropdown" href="#" role="button" aria-haspopup="true"
                 aria-expanded="false">Research</a>
              <div class="dropdown-menu">
                <router-link class="dropdown-item"
                             :to="{ name: 'research', params: { pubPath: journalArticles.path, pubTitle: journalArticles.title }}">
                  {{ journalArticles.title }}
                </router-link>
                <router-link class="dropdown-item"
                             :to="{ name: 'research', params: { pubPath: bookChapters.path, pubTitle: bookChapters.title }}">
                  {{ bookChapters.title }}
                </router-link>
                <router-link class="dropdown-item"
                             :to="{ name: 'research', params: { pubPath: encyclopediaChapters.path, pubTitle: encyclopediaChapters.title }}">
                  {{ encyclopediaChapters.title }}
                </router-link>
              </div>
            </li>
            <li class="nav-item">
              <router-link to="/talks" class="nav-link">
                <p class="h5">Talks</p>
              </router-link>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col">
          <router-view></router-view>
        </div>
      </div>
    </div>
    <div class="container">
      <div id="contact-info" class="row mt-5 mb-5">
        <div class="col-auto ml-auto">
          <a href="mailto: k.harrison988@gmail.com">
            <img src="./assets/email-icon.png" class="zoom img-thumbnail rounded-circle">
          </a>
        </div>
        <div class="col-auto">
          <a href="https://github.com/kharrison988">
            <img src="./assets/github-icon.svg" class="zoom img-thumbnail rounded-circle">
          </a>
        </div>
        <div class="col-auto">
          <a href="https://www.linkedin.com/in/kharrison988/">
            <img src="./assets/linkedin-icon.svg" class="zoom img-thumbnail rounded-circle">
          </a>
        </div>
        <div class="col-auto">
          <a href="https://www.researchgate.net/profile/Kathryn_Harrison6">
            <img src="./assets/researchgate-icon.png" class="zoom img-thumbnail rounded-circle">
          </a>
        </div>
        <div class="col-auto mr-auto">
          <a href="https://scholar.google.com/citations?user=fa0toSoAAAAJ&hl=en">
            <img src="./assets/google-scholar-icon.png" class="zoom img-thumbnail rounded-circle">
          </a>
        </div>
      </div>
    </div>
  </div>
</template>

<script>

  export default {
    data() {
      return {
        journalArticles: {
          path: 'journal-articles',
          title: 'Journal articles'
        },
        bookChapters: {
          path: 'book-chapters',
          title: 'Book chapters'
        },
        encyclopediaChapters: {
          path: 'encyclopedia-chapters',
          title: 'Encyclopedia chapters'
        }
      }
    }
  }
</script>
